<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- 他にも必要ならここにCSSやOGPタグとか -->

  </head>
  <body>

    <header>
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>&copy; {{ site.time | date: "%Y" }} Minimal Peil</p>
    </footer>

    <!-- 忍者アクセス解析タグここから -->
    <!--shinobi1--><script type="text/javascript" src="//xa.shinobi.jp/ufo/192036100"></script><noscript><a href="//xa.shinobi.jp/bin/gg?192036100" target="_blank"><img src="//xa.shinobi.jp/bin/ll?192036100" border="0"></a><br><span style="font-size:9px"><img style="margin:0;vertical-align:text-bottom;" src="//img.shinobi.jp/tadaima/fj.gif" width="19" height="11"> </span></noscript><!--shinobi2-->
    <!-- 忍者アクセス解析タグここまで -->

  </body>
</html>
